body {
  font: 16px/1.5 Courier, monospace;
  margin: 0;
  background: url('../images/reel.jpg') no-repeat center center fixed;
  background-size: cover;
}

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #c00;
}

input {
  width: 20em;
}

input[type="search"] {
  font-size: 200%;
  margin: 1em;
}

select {
  font-size: 150%;
}

/*option {
	color: black;
}
*/
.browse {
  padding: 10px 25px;
}

.fail {
  color: red;
}

#movie-name {
	font-weight: bold;
}

li {
	list-style: none;
	padding-left: 20px;
	font-weight: normal;
}