body {
  font: 16px/1.5 Inconsolata, monospace;
  margin: 0;
  background: url('../images/reel.jpg') no-repeat center center fixed;
  background-size: cover;
}

main {
  width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #c00;
}

h2 {
  text-align: center;
}

p {
  margin: 0;
}

#search-form {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

input {
  width: 65%;
}

button {
  font: 30px/1.5 Inconsolata, monospace;
  width: 35%;
}

input[type="search"] {
  font: 30px/1.5 Inconsolata, monospace;
}

select {
  width: 100%;
  font: 30px/1.5 Inconsolata, monospace;
  font-style: italic;
}

option {
  font-style: normal;
}

.fail {
  color: red;
}

#show-detail {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#show-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#show-summary {
  padding-left: 10px;
}

img {
  align-self: flex-start;
}
