body {
  font: 16px/1.5 Courier, monospace;
  margin: 0;
  background: url('../images/reel.jpg') no-repeat center center fixed;
  background-size: cover;
}

main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #c00;
}

input {
  width: 20em;
}

input[type="search"] {
  font-size: 200%;
  margin: 1em;
}

select {
  font-size: 150%;
}

.browse {
  padding: 10px 25px;
}

.fail {
  color: red;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/*div{
	margin-left: 20%;
}*/