body {
	font: 16px/1.5 Courier, monospace;
	margin: auto;
	background: url('../images/reel.jpg') no-repeat center center fixed;
	background-size: cover;
	width: 100%;
}

main {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a {
	color: #c00;
}

input {
	width: 20em;
}

input[type="search"] {
	font-size: 200%;
	margin: 1em;
}

select {
	font-size: 100%;
}

#submit {
	font-size: 200%;
	border: 2px solid blue;
	background-color: blue;
	color: white;
	margin: 10px;
	border-radius: 20%;
	outline: none;
}

.browse {
	padding: 10px 25px;
}

.fail {
	color: red;
}

.float-left {
	width: 50%;
	float: left;
}

.float-right {
	margin: auto;
	/* width: 50%; */
	float: right;
	padding: 5px;
}

.clearfix:after {
	/* content: ""; */
	/* display: table; */
	/* clear: both; */
}

.show-detail {
	display: block;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	.float-right {
		width: 50%;
	}
}

/* iPad Pro */

/* Portrait and Landscape */
/* @media only screen and (min-device-width: 1024px) and (max-device-width: 1366p x) and (-webkit-min-device-pixel-ratio: 2) {
	.float-right {
		margin: auto;
		width: 100%;
		padding: 5px;
	}
} */

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	.float-right {
		width: 50%;
	}

	select {
		font-size: 100%;
	}

	#submit {
		font-size: 100%;
		border: 2px solid blue;
		background-color: blue;
		color: white;
		margin: 10px;
	}
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
	.float-right {
		width: 50%;
	}
}

/* Galaxy Phone */
/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {
		.float-right {
			margin: auto;
			width: 100%;
			/* float: right; */
			padding: 5px;
		}
}
